{% extends 'base_restaurateur_page.html' %}
{% load checks %}
{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container" style="padding: 3px; margin: 10px;">
   <table class="table table-responsive" style="width: 98vw; max-width: 98vw">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Стоимость заказа</th>
      <th>Вид оплаты</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Дата создания</th>
      <th>Дата звонка</th>
      <th>Дата доставки</th>
      <th>Ресторан</th>
      <th></th>
    </tr>

    {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.total_amount }} руб.</td>
        <td>{{ order.payment_type }}</td>
        <td>{{ order.firstname }} {{ order.lastname }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.comment }}</td>
        <td>{{ order.creation_date }}</td>
        <td>{{ order.call_date }}</td>
        <td>{{ order.delivery_date }}</td>
      <td>
        {% if order.executing_restaurant|isstring %}
          Готовится {{ order.executing_restaurant }}

        {% elif order.executing_restaurant|is_nonempty_list %}
            Может быть приготовлен в
            <ul>
              {% for candidate in order.executing_restaurant %}
                <li>{{ candidate }}</li>
              {% endfor %}
            </ul>

        {% else %}
            <b>Не может быть приготовлен<br>
              одним рестораном</b>

        {% endif %}
        </td>
        <td><a href="{% url "admin:foodcartapp_order_change" object_id=order.id %}?return-to={{ request.path }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
